@charset "UTF-08";

::-webkit-scrollbar{
    width: 0px;
    height: 0px;
}

*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

body{
    width: 100vw;
    height: 80.1rem;
    background-color: rgb(58, 28, 28);
}

.header{
    background-color: #1f1c2b;
    width: 100vw;
    min-height: 9.1rem;
    box-shadow: 0px 0px 5px black;
}

.header h1, h2{
    color: white;
    text-align: center;
    padding: 10px;
}

.header_nav{

    padding: 10px;
    margin-right: 20px;
}

.header_nav img{
    height: 16px;
    width: 16px;
    padding-top: 10px;
}

.header_nav input{
    color: white;
    width: 130px;
    font-size: 1em;
    margin-left: 10px;
    background: transparent;
    border: none;
    outline: none;
    
}

.header__pesquisar{
    display: flex;
    align-items: center;
    background-color: rgb(82, 82, 82);
    border-radius: 300px;
    padding: 0px 10px;
    width: 150px;
}

.main_conteudo{
    color: white;
    background-color: #1f1c2b;
    width: 480px;
    margin: auto;
    margin-top: 10px;
    padding-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px black;
}

.header_conteudo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(255, 255, 0, 0.192);
    border-radius: 10px;
    padding: 20px;
}

.conteudo_fase{
    text-align: justify;
    padding-top: 20px;
    padding: 20px;
}

.conteudo_fase img{
    width: 440px;
    margin-bottom: 10px;
}

.conteudo_fase .gema{
    width: 50px;
}

table{
    width: 200px;
    border-collapse: collapse;
}
table td,th{
    border: 1px solid white;
    padding: 5px;
}
table .reliquia{
    background-color: rgba(255, 255, 0, 0.192);
}