@charset "UTF-08";

/* 
    VERSÃO MOBILE

    CORES
        #3D21C7
        #2800F0
        #46359E
        #413870
        #322E45
        #33313B
*/

*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    
}

header menu iframe{
    width: 150px;
    height: 180px;
}

header menu ul li{
    list-style-type: none;
}


header menu ul li a{
    display: block;
    text-decoration: none;
}
